@font-face {
    font-family: Commissioner;
    src: url("./Commissioner.ttf");
}

:root {
    --main-text-color: rgb(255, 255, 255);
}

* {
    margin: 0;
}

body {
    background-color: darkslategray;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../backgrounds/CatWalks.png");
    background-size: cover;
    /* background-blend-mode: multiply; */
    background-position: 80%;
    background-attachment: fixed;
    
    font-family: Commissioner;
    color: var(--main-text-color);
    text-align: center;
    text-shadow: black 1px 1px;

    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    color: darkgrey;
    font-size: small;
}

.rating {
    color: gold;
    font-size: larger;
    font-weight: bold;
    margin: 2px;
}

.games-layout {
    display: grid;

    grid-template-columns: repeat(3, minmax(0px, 460px));

    max-width: max-content;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
}

@media only screen and (max-width: 920px) {
    .games-layout {
        grid-template-columns: repeat(2, minmax(0, 460px));
    }
}

@media only screen and (max-width: 520px) {
    .games-layout {
        grid-template-columns: repeat(1, minmax(0, 460px));
    }
}

.games-layout > div {
    padding: 2%;
}

.games-layout-image {
    height: auto;
    width: 100%;
    border-radius: 6px;
}

.music-layout {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(0, 128px));

    max-width: 70%;

    margin-left: auto;
    margin-right: auto;

    justify-content: center;
}

.music-layout > div {
    padding: 2%;
}

.music-layout-image {
    height: auto;
    width: 100%;
    border-radius: 6px;
}

.footer-image {
    height: auto;
    
    width: 50%;
    max-width: 560px;

    padding-bottom: 60px;
    padding-top: 60px;

    border-radius: 6px;

    margin-left: auto;
    margin-right: auto;

    background-size: cover;
}

.footer-image-oneshot {
    background-position-y: 70%;
    background-position-x: 80%;

    background-image: url("../footer-images/oneshot.png");
}

.footer-image-peak {
    background-position-y: 60%;
    background-position-x: 30%;

    background-image: url("../footer-images/peak.jpg");
}

.footer-image-lethalCompany {
    background-position-y: 60%;
    background-position-x: 50%;

    background-image: url("../footer-images/lethalCompany.jpg");
}

.footer-image-ultrakill {
    background-position-y: 40%;
    background-position-x: 80%;

    background-image: url("../footer-images/ultrakill.jpg");
}